body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
ol,ul {list-style:none;}
caption,th {text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
q:before,q:after{content:'';}
a, a:link, a:visited, a:active, a:hover {outline: none;}

html {
font-family: helvetica neue, sans-serif;
font-weight: 500;
color: #222;
background-color: #f2f2f2;
height: 100%;
}
body {
height: 100%;
}

a {color: #000; border-bottom: 2px solid #000; text-decoration: none; font-weight: bold;}

code {
background-color: #ffc;
padding: 3px;
}

strong, b {
font-weight: bold;
}
em, i {
font-style: italic;
text-decoration: underline;
}

ul,
li {
display: block;
}

h1, li {
font-size: 2em;
line-height: 1.1;
transition: font-size 0.2s, transform 0.2s;
-moz-transition: font-size 0.2s, -moz-transform 0.2s;
-webkit-transition: font-size 0.2s, -webkit-transform 0.2s;
-o-transition: font-size 0.2s, -o-transform 0.2s;
}
h1 {
padding: 1em 0;
/*background-color: #f2f2f2;*/
z-index: 2;
font-weight: bolder;
}
li {
margin: 0.5em 0;
z-index: 1;
}

.after h1,
li.after {
opacity: 0;
}
li.after {
font-size: 0em;
margin: 0;
}

.current-screen.current-slide h1,
li.current-slide {
opacity: 1;
}
.after h1,
.current-screen.current-slide h1 {
font-size: 5em;
}
li.current-slide {
font-size: 4em;
}

.before {
opacity: 0;
}
.before h1 {
opacity: 0.6;
}
li.prev-1 {
opacity: 0.45;
}
li.prev-2 {
opacity: 0.35;
}
li.prev-3 {
opacity: 0.25;
}
li.prev-4 {
opacity: 0.15;
}
li.prev-5 {
opacity: 0.05;
}

#slides {
position: relative;
width: 95%;
height: 32em;
margin: 0 auto;
overflow: hidden;
}

.screen {
position: absolute;
top: 0;
right: 0;
height: 32em;

transition: left 0.2s, transform 0.2s;
-moz-transition: left 0.2s, -moz-transform 0.2s;
-webkit-transition: left 0.2s, -webkit-transform 0.2s;
-o-transition: left 0.2s, -o-transform 0.2s;
}

h1 {
position: absolute;
top: 0;
left: 0;
right: 0;
}
ul {
position: absolute;
left: 0;
bottom: 0;
}


.screen.before {
left: -100%;
opacity: 0;
}
.screen.after {
left: 100%;
opacity: 0;
}
.screen.current-screen {
left: 0;
opacity: 1;
}
del {
color: #999;
text-decoration: strike-through;
}

